#navbar {
  transform: translateY(-150px);
  transition: transform 400ms ease-in;

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  background: #e9d9d4e1;
  height: 50px;
  border-bottom: 1px solid black;
}

#navbar.slideIn {
  transform: translateY(0);
}

#navbar.slideOut {
  transform: translateY(-100%);
}

#navbar ul {
  text-align: right;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 1.325rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  margin-right: 9%;
}

#navbar ul li {
  display: inline;
  margin: 15px;
}

#navbar ul li a {
  color: rgb(110, 103, 102);
  text-decoration: none;
}

#navbar ul li a:hover {
  border-bottom: 2px solid rgb(110, 103, 102);
}

@media only screen and (max-width: 660px) {
  #navbar ul {
    text-align: center;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
  }
}
