.contact-ftr {
  background: rgba(218, 216, 215, 0.938);
  padding: 0px 0px 20px 0px;
  width: 95vw;
  max-width: 1100px;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 40px 50px;
  box-sizing: border-box;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.contact,
.connect {
  width: 50%;
}

.connect {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.connect-buttons {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.contact-info a {
  margin-top: 10px;
  font-size: 25px;
  color: rgb(110, 103, 102);
  text-decoration: none;
  display: block;
  background: none;
  box-sizing: border-box;
}
.connect-buttons a {
  margin-top: 10px;
  font-size: 25px;
  color: rgb(110, 103, 102);
  text-decoration: none;
  border: 2px solid rgb(110, 103, 102);
  padding: 0px 5px;
  width: 90%;
  max-width: 250px;
  height: 88px;
  display: block;
  background: none;
  box-sizing: border-box;
}

.connect-buttons a:hover {
  color: #fff;
  background: rgb(109, 107, 106);
  border: 2px solid rgba(110, 103, 102, 0.623);
  box-sizing: border-box;
}

.contact-info a:hover {
  text-decoration-line: underline;
}

.connect-buttons a:hover p {
  color: #fff;
}

.connect-buttons p {
  vertical-align: middle;
  position: relative;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  top: 30%;
}

.connect-buttons a:hover .react-icons {
  color: #fff;
}
.contact-info p .react-icons {
  color: rgba(110, 103, 102, 0.801);
  font-size: 25px;
  margin-right: 10px;
  display: block;
}
.connect-buttons p .react-icons {
  color: rgba(110, 103, 102, 0.801);
  font-size: 25px;
  margin-left: 10px;
  display: block;
}

.contact p {
  font-family: Roboto Condensed;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: rgb(110, 103, 102);
  text-align: left;
}

.contact .contact-info {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  text-align: left;
}

.contact .contact-info h3 {
  font-size: 45px;
  margin-top: 5px;
  font-weight: bold;
  padding: 0px;
}

.contact .contact-info h4 {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: rgb(110, 103, 102);
  margin-top: 30px;
}

.contact-info a p {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.connect-buttons a p {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.signature {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  color: #916e6d;
  text-align: right;
  box-sizing: border-box;

  flex: 1 100%;
  padding: 20px 25px;
}

@media only screen and (max-width: 600px) {
  .contact-ftr {
    flex-direction: column;
    height: 100%;
    align-items: left;
    justify-content: left;
    align-content: left;
    max-width: 90vw;
  }

  .contact,
  .connect {
    width: 100%;
  }

  .contact .contact-info {
    width: 100%;
    margin: 0px 0px 10px 0px;
  }
}
