#contact {
  margin-top: 800px;
}
.contact-ftr {
  background: rgba(218, 216, 215, 0.938);
  padding: 0px 0px 20px 0px;
  width: 90%;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-content: center;
  justify-content: center;
}

.contact,
.connect {
  width: 50%;
}

.connect {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.connect-buttons {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  align-items: center;

  width: 100%;
}

.connect-buttons button {
  border: 1px solid black;
  margin-top: 10px;
  height: 88px;

  width: 90%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-content: center;
  background: none;

  /* background: #e9d9d4; */
}

.connect-buttons button a {
  margin: 0px 15px;
  font-size: 20px;
  color: rgb(110, 103, 102);
  text-decoration: none;
}

.connect-buttons button:hover {
  background: #fff;
  background: rgba(110, 103, 102, 0.623);
  border: 1px solid rgba(110, 103, 102, 0.623);
}

.connect-buttons button:hover a {
  color: #fff;
}

.connect-buttons button:hover .react-icons {
  color: #fff;
}

.react-icons {
  color: rgba(110, 103, 102, 0.801);
  font-size: 20px;
}

.contact h3 {
  font-size: 40px;
  text-align: left;
  margin-top: 20px;
  font-weight: bold;
}

.contact h4 {
  font-family: Roboto Condensed;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.03em;
  color: rgb(110, 103, 102);
  text-align: left;

  margin-top: 20px;
}

.contact p {
  font-family: Roboto Condensed;

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  color: rgb(110, 103, 102);
  text-align: left;
}

.contact-info {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .contact-ftr {
    flex-direction: column;
    height: 100%;
  }

  .contact-info {
    width: 90vw;
  }

  .connect {
    width: 90vw;
    margin: 0 auto;
  }
}
