/* .work-view{
  background: rgba(158, 154, 154, 0.582);
  width: 100vw;
} */
.work-section{
  height: 100vh;
  margin-top: 30px;
  margin-bottom: 30px;

}

.project{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 600px;
}


.project button{
background: #91867C;
text-align: center;
width: 50%;
max-width: 150px;
height: 42px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
animation: _animate-fade-in;
animation-duration: 3s;

}

.project button a {
font-family: Montserrat;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 12px;
text-align: center;
text-decoration: none;
color: #FFFFFF;
}

.project-text{
  width: 100%;
  align-self: center;
}


.project-header{
  width: 50%;
height: 100%;

}


@-webkit-keyframes _animate-fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes _animate-fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

._animate-fade-in {
  -webkit-animation: _animate-fade-in 0.8s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: _animate-fade-in 0.8s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  opacity: 0; }


.project p {
  font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
line-height: 25px;
font-size: 	1rem;
letter-spacing: 0.03em;
text-align: center;
color: #9D9391;
padding: 0px 20px;
margin: 80px 0px 0px 0px;
}

.project-img{

  width: 50%;
  max-width: 650px;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
justify-content: center;
padding-left: 10px;
}

.project-img img{
  height: 90%; 
  max-width: 100%;
object-fit: contain;



}

.project-header h4{
  font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
line-height: 49px;
font-size: 3.5rem;
letter-spacing: 0.03em;

color: #9D9391;

text-align: left;

padding: 12px;
}




@-webkit-keyframes _animate-fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes _animate-fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

._animate-fade-in {
  -webkit-animation: _animate-fade-in 0.8s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: _animate-fade-in 0.8s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  opacity: 0; }

.header3{
  visibility: hidden;
}