.project{
  width: 100%;
  display: flex;
  flex-direction: row;
  max-height: 100%;


}


.project button{
background: #91867C;
mix-blend-mode: normal;
vertical-align: bottom;
width: 250px;
height: 42px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

margin-top: 40px;
}
.project p {
  font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
line-height: 25px;
font-size: 	1rem;
letter-spacing: 0.03em;

color: #9D9391;

padding: 10px;
margin-top: 40px;
}

.project-text{
  width: 50%;
  padding: 20px;
}


.project-img{

  width: 50%;
  overflow: hidden;
}

.project-img img{
  width: 100%;
max-width: 450px;


}

h4{
  font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
line-height: 49px;
font-size: 3.5rem;
letter-spacing: 0.03em;

color: #9D9391;

text-align: left;

padding: 10px;
}