
#home{
    /* margin-top: 20px; */
    /* height:90px; */
}

header {
    background: rgba(233, 217, 212, 0.78);
    border-radius: 50%;
    width: 50vh;
    height: 50vh;
    margin: 0 auto;

    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
    }
    
    header h1{
        font-family: Petit Formal Script;
        font-style: normal;
        font-weight: normal;
        line-height: 52px;
        font-size: 48px;
        text-align: center;
        letter-spacing: -0.07em;
        color: #FFFFFF;
        transform: rotate(-8deg); 
    }
    
    header h2 {
        padding-top: 20px;

        font-family: Prestige Elite Std;
        font-style: normal;
        font-weight: bold;
        line-height: 23px;
        font-size: 23px;
        text-align: center;
        letter-spacing: -0.05em;
        
        color: #494646;
        
    }

    .intro-section{
        height: 100vh;
    }