
#home{
    height: 100vh;
}


.second-navbar{
    position: relative;
    top: 5%;

}

  .second-navbar ul{
    text-align: right;
    margin-right: 45px;
    
  }
  .second-navbar ul li {
    display: inline;
    margin: 15px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
  }

  .second-navbar ul li a {
color: #635F5F;
  }


  .name-intro{
    background: #e9d9d4e3;
    border-radius: 100%;
    margin: 0 auto; 
    width: 520px;
    height: 500px;

position: relative;
top: 10%;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    flex-direction: column;
  }  
    header h1{
        font-family: Petit Formal Script;
        font-style: normal;
        font-weight: normal;
        font-size: 5rem;
        text-align: center;
        letter-spacing: -0.07em;
        color: #ffffff;
        text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.42);
        transform: rotate(-5deg);
        width: 70%;
    }
    
    header h2 {
        padding-top: 20px;
        font-family: Roboto Condensed;
        font-style: normal;
        font-weight: bold;
        line-height: 23px;
        font-size: 3rem;
        text-align: center;
        letter-spacing: -0.05em;
        color: #494646;
        margin-top: 50px;
        
    }

    .intro-section{
        height: 100vh;
    }